<div class="row contacts">
    <div class="col-md-3 div"></div>
    <div class="col-lg-6">
        <div class="row empty"></div>
        <div id="members" class="h2">Team members:</div>
        <ul id="sortable">
            <li class="ui-state-default"  style="display:inline-block">
                <div class="h4" style="float: left">Ivan Vasilev</div>
                <a href="https://github.com/ivanvasilev" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" style="float: right"/></a>
            </li>
            <br />
            <li class="ui-state-default" style="display:inline-block">
                <div class="h4" style="float: left">Konstantin Adamu</div>
                <a href="https://github.com/KonstantinAdamu" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" style="float: right"/></a>
            </li>
            <br />
            <li class="ui-state-default" style="display:inline-block">
                <div class="h4" style="float: left">Lubomir Yonchev</div>
                <a href="https://github.com/Moiraines" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" style="float: right"/></a>
            </li>
            <br />
            <li class="ui-state-default" style="display:inline-block">
                <div class="h4"style="float: left">Ognyan Alexiev</div>
                <a href="https://github.com/oggg" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" style="float: right"/></a>
            </li>
            <br />
            <li class="ui-state-default" style="display:inline-block">
                <div class="h4" style="float: left">Teodor Cholakov</div>
                <a href="https://github.com/tcholakov" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" style="float: right"/></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 div"></div>
</div>

<script src="app/Controllers/ContactsController.js"></script>
