<div class="row main">
    <div class="row empty"></div>
    <div class="col-md-2 div"></div>
    <div class="col-lg-8" id="welcome">
        <h2>Welcome to the Heracles News!</h2>
        <h4>The place where you can inform yourself about the latest news from all over the world.</h4>
        <br />
        <img src="imgs/NewsMain.jpeg" width="600px" height="400px" alt="news" />
        <div id="fb-root"></div>
    </div>
</div>
<div class="col-md-2 div">

</div>


<script src="controllers/homeController.js"></script>