<div class="row logged-user">
    <div class="row empty"></div>
    <div class="row">
        <div class="col-md-0"></div>
        <div class="col-md-9"></div>
    </div>
    <div class="row" style="height: 220px;">
        <div class="col-md-4">
            <div class="row"></div>
        </div>
        <div class="col-md-4" style="text-align: center">
            <div class="container-fluid">
                <label for="category-options">Choose category:</label>
                <input type="text" placeholder="Category" ng-model="category"/>
                <!--<select class="form-control" id="category-options"></select>-->
                <button class="btn btn-success" id="show-form-btn" ng-click="getArticlesByCategory()">Show</button>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-0"></div>

    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align: center">
            <h2 class="h2">Articles:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <ul>
                <li ng-repeat="article in articles">{{article.Name}}</li>
            </ul>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>